# Игнорируем виртуальное окружение
venv/

# Файлы кэша Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Временные картинки
temp/

# Конфиги IDE
.vscode/
.idea/

# Логи
*.log

# Jupyter ноутбуки (если вдруг появятся)
*.ipynb

# Файлы ОС
.DS_Store
Thumbs.db
